ADMIN_PASSWORD=
DATABASE_PASSWORD=
#Networking
HOST_IP=
FIXED_RANGE="10.0.0.0/24"
IPV4_ADDRS_SAFE_TO_USE="/24"
FLOATING_RANGE="/24"
PUBLIC_NETWORK_GATEWAY=
Q_FLOATING_ALLOCATION_POOL=start=x.x.x.200,end=x.x.x.250
PUBLIC_INTERFACE=eth0
#CINDER_VOLUME_BACKING_FILE_SIZE='40960M'